Repository TECH-Rubicone/react-boilerplate-typescript, pull requests merged in 2021-09, with the labels that each got.

#4 workflow/EDITORCONFIG-Add-editorconfig-checker
  .gitignore
  package.json
  tsconfig.json
  yarn.lock
Labels: workflow

#5 workflow/CONFIG-Implement-different-environment-variables
  .env.development
  .env.production
  .env.staging
  .eslintrc.json
  package.json
  src/App.test.tsx
  src/App.tsx
  yarn.lock
Labels: workflow

#3 ci/GITHUB-ACTIONS-Add-ci-integration
  .github/auto-assign.yml
  .github/labeler.yml
  .github/workflows/pull-request.yml
  package.json
  tsconfig.json
Labels: ci

#6 architecture/STRUCTURE-Implement-base-structures
  src/App.css
  src/App.tsx
  src/assets/.gitkeep
  src/components/.gitkeep
  src/configs/index.ts
  src/constants/routes.ts
  src/hooks/.gitkeep
  src/index.css
  src/index.tsx
  src/layouts/app/.gitkeep
  src/layouts/auth/.gitkeep
  src/layouts/index.js
  src/logo.svg
  src/services/.gitkeep
  src/styles/.gitkeep
  tsconfig.json
Labels: architecture

#7 feature/STYLES-Add-styles
  package.json
  src/index.tsx
  src/layouts/index.js
  src/styles/all.scss
  src/styles/index.ts
  src/styles/scss/bootstrap/font-size.scss
  src/styles/scss/bootstrap/variables.scss
  src/styles/scss/common/base.scss
  src/styles/scss/common/borders.scss
  src/styles/scss/common/index.scss
  src/styles/scss/common/scroll.scss
  src/styles/scss/common/table-sticky.scss
  src/styles/scss/common/tabs.scss
  src/styles/scss/helpers/index.scss
  src/styles/scss/index.scss
  yarn.lock
Labels: feature

#8 workflow/GIT-Add-husky
  .huskyrc
  package.json
  yarn.lock
Labels: workflow

#12 feature/ROUTESERVICE-Implement-route-service
  package.json
  src/common/home.tsx
  src/components/router-button.tsx
  src/constants/routes.ts
  src/constants/types.ts
  src/index.tsx
  src/layouts/app/administrative/index.tsx
  src/layouts/app/administrative/users/edit/index.tsx
  src/layouts/app/administrative/users/index.tsx
  src/layouts/app/administrative/users/list/index.tsx
  src/layouts/app/index.tsx
  src/layouts/app/users/index.js
  src/layouts/app/users/list/actions.js
  src/layouts/app/welcome/index.tsx
  src/layouts/auth/index.tsx
  src/layouts/auth/sign-in/controller.ts
  src/layouts/controller.ts
  src/layouts/index.tsx
  src/services/lodash.service.ts
  src/services/route/annotations.ts
  src/services/route/constants.ts
  src/services/route/history.ts
  src/services/route/index.ts
  src/services/route/param.ts
  src/services/route/route.ts
  yarn.lock
Labels: feature

#14 feature/ICONS Implement font icon components
  package.json
  src/components/fa-icon.tsx
  src/components/fab-icon.tsx
  src/components/far-icon.tsx
  src/components/fas-icon.tsx
  yarn.lock
Labels: feature

#16 feature/TOAST Implement toast
  package.json
  src/components/toast.tsx
  src/index.tsx
  src/layouts/app/administrative/users/list/actions.tsx
  src/layouts/app/administrative/users/list/controller.ts
  src/layouts/app/administrative/users/list/index.tsx
  src/layouts/app/administrative/users/list/list-row.tsx
  src/layouts/app/administrative/users/list/list.tsx
  src/layouts/auth/sign-in/controller.ts
  src/layouts/auth/sign-in/index.tsx
  src/layouts/controller.ts
  src/layouts/index.tsx
  src/styles/index.ts
  yarn.lock
Labels: feature
