Repository TECH-Rubicone/react-boilerplate-typescript, pull requests merged in 2021-10, with the labels that each got.

#33 bugfix/ROUTES-Update-route-service
  src/services/route/route.ts
Labels: bug

#31 enhancement/CONFIG-Update-configs
  .env.development
  .env.staging
  src/configs/index.ts
  src/services/api.service.ts
Labels: enhancement

#32 feature/DROPDOWN-Implement-dropdown
  src/components/dropdown.tsx
Labels: feature

#35 enhancement/LAYOUT-Update-layout
  src/layouts/app/controller.js
  src/layouts/app/index.tsx
  src/layouts/app/layout/drawer-header.js
  src/layouts/app/layout/header.js
  src/layouts/app/layout/index.js
  src/layouts/app/layout/side-menu.js
  src/layouts/app/menu.ts
Labels: enhancement

#36 enhancement/USERS-Update-users-list
  src/layouts/app/administrative/users/list/actions.tsx
  src/layouts/app/administrative/users/list/controller.ts
  src/layouts/app/administrative/users/list/index.tsx
  src/layouts/app/administrative/users/list/list-item.tsx
  src/layouts/app/administrative/users/list/list.tsx
  src/layouts/app/administrative/users/list/styles.css
Labels: enhancement

#34 feature/ESLINT-Update-eslint-config
  .eslintrc.json
  package.json
  src/components/search-input.js
  src/components/toast.tsx
  src/hooks/use-free-height.ts
  src/layouts/auth/sign-in/index.tsx
  src/layouts/controller.ts
  src/styles/all.scss
  yarn.lock
Labels: feature

#38 enhancement/API-SERVICES-Divide-api
  src/constants/api.ts
  src/interfaces/api.ts
  src/interfaces/common.ts
  src/layouts/app/administrative/users/list/controller.ts
  src/layouts/auth/sign-in/controller.ts
  src/layouts/controller.ts
  src/services/api-helpers.service.ts
  src/services/api-private.service.ts
  src/services/api-public.service.ts
  src/services/api.service.ts
Labels: enhancement

#44 enhancement/CLEAN-Clean-project
  src/common/home.tsx
  src/components/datepicker.tsx
  src/components/dropdown.tsx
  src/components/fa-icon.tsx
  src/components/fab-icon.tsx
  src/components/far-icon.tsx
  src/components/fas-icon.tsx
  src/components/field-wrap.tsx
  src/components/form-error.tsx
  src/components/number-input.tsx
  src/components/pagination.tsx
  src/components/router-button.tsx
  src/components/search-input.js
  src/components/select-entity.tsx
  src/components/select.tsx
  src/components/toast.tsx
  src/components/toggler.tsx
  src/layouts/app/administrative/users/list/list-item.tsx
  src/layouts/app/client/dsld/supplements/list-item.tsx
  src/layouts/app/menu.ts
  src/layouts/app/welcome/index.tsx
  src/styles/all.scss
  src/styles/scss/bootstrap/font-size.scss
  src/styles/scss/bootstrap/variables.scss
  src/styles/scss/common/borders.scss
  src/styles/scss/common/index.scss
  src/styles/scss/common/scroll.scss
  src/styles/scss/common/table-sticky.scss
  src/styles/scss/common/tabs.scss
  src/styles/scss/helpers/index.scss
  src/styles/scss/index.scss
Labels: enhancement, architecture

#46 feature/MATERIAL-UI-Update-sign-in-styles-using-material-ui
  src/components/forms/input.tsx
  src/layouts/auth/sign-in/index.tsx
Labels: feature

#48 enhancement/USERS-Update-users-layout
  src/components/preloader/index.js
  src/components/search-input.js
  src/layouts/app/administrative/users/list/actions.tsx
  src/layouts/app/administrative/users/list/index.tsx
  src/layouts/app/administrative/users/list/list-item.tsx
  src/layouts/app/administrative/users/list/list.tsx
  src/layouts/app/layout/index.tsx
Labels: enhancement

#51 architecture/ENVIRONMENT-Update-environment-config
  .env.development
  package.json
  src/constants/api.ts
  src/services/api-dsld.service.ts
Labels: architecture
